.Stopwatch {
  margin: 0;
  display: block;
  color: white;
}
.label input {
  visibility: hidden;
  display: inline-block;
  height: 0;
  width: 0;
  position: absolute;
  overflow: hidden;

}

label input.active {
  visibility: visible;
  background: black;
  margin-left: 70px;
  height: 70px;
  width: 70px;
  outline: 1px solid greenyellow
}

p {
  font-family: Anton;
  font-size: 2.5em;
}

button {
  white-space: nowrap;
  text-align: center;
  color: white;
  border: none;
  box-shadow: 1px 1.2px #ccc;
  width: 200px;
  margin: 6px;
  padding: 20px;
  font-size: 1.4em;
  cursor: pointer;
}

.Danger {
  background-color: salmon;
}

.Reset {
  background-color: orange;
}
